extends layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content

	include parts/footer

block scripts
	script(src='/app/vendor.js')
	script(src='/app/frontend.js')

