doctype html
html(lang=language)
	head
		title #{app.title}
		include parts/head

		block styles

	body
		div
			header.blog-masthead
				block nav
				block header
			main.blog-main
				.container
				block content
				block container
			footer.blog-footer
				block copyright
		include parts/scripts
		block scripts

